/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v27-latin-regular.woff') format('woff2'),
       url('../fonts/raleway-v27-latin-regular.woff2') format('woff');
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v27-latin-700.woff2') format('woff2'),
       url('../fonts/raleway-v27-latin-700.woff') format('woff');
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v29-latin-regular.woff') format('woff2'),
       url('../fonts/open-sans-v29-latin-regular.woff2') format('woff');
}