.questions {
  background-color: #1b2330;
}

.questions-inner {
  max-width: 863px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 42px;
  padding-bottom: 41px;
  background-color: #202a3c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-heading {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin: 0;
}

.questions-text {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 38px;
  max-width: 673px;
}

.questions-form-email {
  font-family: 'OpenSans';
  font-size: 12px;
  line-height: 14px;
  color: #c0c0c0;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  padding: 17px 208px 15px 38px;
}

.questions-form-button {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background: linear-gradient(152.13deg, #63e1d9 -150.21%, #34a0cd 170.03%);
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  margin-left: 29px;
  padding: 15px 26px;
}

@media only screen and (max-width: 750px) {
  .questions-inner {
    padding-top: 40px;
    padding-bottom: 37px;
  }

  .question-heading {
    font-size: 18px;
    line-height: 24px;
  }

  .questions-form {
    display: flex;
    flex-direction: column;
  }

  .questions-form-email {
    font-size: 10px;
    line-height: 12px;
    padding: 19px 100px 15px 29px;
  }

  .questions-form-button {
    margin-top: 24px;
    margin-left: 0;
    padding: 16px 73px 16px 72px;
  }
}